body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px;
    padding: 20px;
    line-height: 1.6;
}

a { color: #0366d6; }

.contact-me {
    position: absolute;
    left: 20px;
    bottom: 10px;
    line-height: 1;
}

.headshot-image {
    position: absolute;
    bottom: 60px;
    left: 40px;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0px;
    left:  0px;
    height: 100vh;
    width: 230px;
    background-color: rgba(160, 160, 160, 1)
}

.sidebar-content {
    margin: 20px;
    color: rgb(0, 0, 0);
    display: block;
}

.sidebar-email {
    line-height: 1;
    position: absolute;
    left: 0px;
    bottom: 20px;
    margin: 20px;
    display: none;
}

.sidebar-separator {
    position: absolute;
    top: 0px;
    left: 230px;
    width: 3px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.sidebar-collapse-button {
    color: rgba(160, 160, 160, 1);
    position: absolute;
    top: 5px;
    left: 200px;
}

.main-content {
    position: absolute;
    left: 250px;
    top: 20px;
    max-width: 100%;
    right: 20px;
    margin-bottom: 40px;
}

.main-content-title {
    font-size: 36px;
    text-align: center;
}

.buttons {
    color: rgb(0, 0, 0);
}

.dan-isaksen {
    font-size: 30px;
}





