body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px;
    padding: 20px;
    line-height: 1.6;
}

a { color: #0366d6; }

.contact-me {
    position: relative;
    margin-top: -15px;
    margin-left: 10px;
}

.headshot-image {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.sidebar {
    position: fixed;
    top: 0px;
    left:  0px;
    height: 100vh;
    width: 230px;
    background-color: rgba(60, 60, 60, 1)
}

.sidebar-content {
    margin: 20px;
    color: rgb(200, 200, 200);
    display: block;
    min-height: 500pxs;
}

.sidebar-email {
    line-height: 1;
    position: absolute;
    left: 0px;
    bottom: 20px;
    margin: 20px;
    display: none;
}

.sidebar-collapse-button {
    position: absolute;
    top: 5px;
    left: 200px;
}

.sidebar-collapse-button button {
    cursor: pointer;
    background: none;
    border: none;
}

.main-content {
    position: absolute;
    left: 250px;
    top: 20px;
    max-width: 100%;
    right: 20px;
    margin-bottom: 40px;
}

.main-content-title {
    font-size: 36px;
    text-align: center;
}

.buttons button{
    color: rgb(200, 200, 200);
    background: none;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    color: rgb(120, 120, 120)
}

.dan-isaksen {
    font-size: 25px;
    text-align: center;
}

.description {
    font-size: 12px;
    text-align: center;
}





